.btn-01 {
  background-color: #fb0091;
  /* color: white; */
  height: 50px;
  width: 150px;
  border-radius: 5%;
  border: none;
}

.btn-01:hover {
  background-color: #ab0e69;
}

.btn-02 {
  background-color: rgb(206, 166, 35);
  color: black;
  height: 50px;
  width: 150px;
  border-radius: 5%;
  border: 2px solid black;
}

.btn-02:hover {
  background-color: rgb(167, 135, 29);
}